.un-sidebar {
  height: 100vh;
  width: 240px;
  background-color: var(--color-purple);
  &__element {
    width: 240px;
    display: flex;
    flex-direction: column;
    .btn-action {
      height: 28px;
      width: 28px;
      margin: 12px 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-end;
    }
    .logo {
      height: 58px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 48px;
      &__text {
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0.02em;
        text-align: left;
        margin-left: 15px;
        color: var(--color-white);
        
      }
    }
  }
  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .info {
      position: relative;
    }
  }
}