%scroll_customer {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-primary);
    border-radius: 20px;
  }
}

%input {
  border: none;
  padding: 2px;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}


%btn {
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    opacity: 0.5;
  }
}

%center-full {
  display: flex;
  justify-content: center;
  align-items: center;
}

%center-item-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}