%scroll_customer {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-primary);
    border-radius: 20px;
    // border: 3px solid var(--color-purple);
  }
}