:root {
  --color-purple: #333269;
  --color-purple-secondary: #5855D6;
  --color-light-purple: #C0BEFF;
  --color-blue-primary: #4DA7E3;
  --color-blue-primary-secondary: #0E1566;
  --color-blue-tertiary: #07102F;
  --color-red: #FF2C55;
  --color-red-secondary: #EE3637;
  --color-green: #4ED964;
  --color-grey-primary: #65708D;
  --color-grey-secondary: #8695A0;
  --color-grey-tertiary: #D8D8E7;
  --color-grey-last-color: #C4C4C4;
  --color-grey-last-color: #E7E7FF;

  --color-text: #9592A6;
  --color-shadow: #C7BFBA;
  --color-white: #FFFFFF;
  --color-box-shadow: #77838F;

  --color-gradient-red: linear-gradient(90deg, #EC441E 0%, #EE2A4A 100%);
  --color-gradient-red-secondary: linear-gradient(90deg, #EC441E 0%, #EE2A4A 100%);

}